.App {
  text-align: center;
  border: 5px solid green;
}

.maincontainer {
  margin-top: 1%;
  
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
}

.leftdiv {
  border: 2px solid black;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items:center;
  row-gap: 5px;
}

.textarea {
  height: 300px;
  width: 80%;
}

.rightdiv {
  border: 2px solid black;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
}

.rightdivoutput {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
